# Dependencies
node_modules/

# Build output (optionnel - décommenter si vous ne voulez pas versionner le CSS compilé)
# assets/css/

# Source maps
*.map

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.idea/
*.sublime-project
*.sublime-workspace
.vscode/
