// ==========================================================================
// Forms
// ==========================================================================

@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

input, select, textarea {
    border:1px solid $np-gray-light!important;
    border-radius: 5px!important;
    color: var(--wp--preset--color--contrast);
    font-family: var(--wp--preset--font-family--primary);
    font-size: var(--wp--preset--font-size--medium);
    font-weight: var(--wp--custom--font-weight--light);
    line-height: var(--wp--custom--line-height--body);
    padding: 5px 10px!important;
}

.mailpoet-wrapper {
    padding: 0 !important;
    display: flex;
    flex-wrap: wrap;

    .mailpoet-input {
        margin-bottom: 0 !important;

        input {
            font-size: 1rem;
            border-radius: 100px;
            padding: 0.5em 1.2rem!important;
            background-color: $np-white;
            color: $np-teal;
            border: none;
            cursor: pointer;
            transition: background-color 0.2s ease;

            &:hover {
                background-color: $np-teal;
                color: $np-white;
            }
        }
    }

    .mailpoet_submit {
        font-size: 1rem;
        border-radius: 100px;
        padding: 0.5rem 1rem;
        background-color: rgb(168, 213, 160);
        color: $np-white;
        cursor: pointer;
        border: none;
        transition: background-color 0.2s ease;
    }
}