@use '../abstracts/variables' as *;

.np-promo-code-block {
	margin-block: var(--wp--preset--spacing--medium);
	margin-inline: 0;
}

.np-promo-code__inner {
	display: flex;
	flex-direction: column;
	overflow: hidden;   
	height: auto;

	@media (min-width: $breakpoint-md) {
		flex-direction: row;
		// min-height: min(31.25rem, 20vh);
	}
}

.np-promo-code__image {
	flex: 2;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	// min-height: min(15.625rem, 25vh);
	display: flex;
	align-items: center;
	justify-content: center;
    aspect-ratio: 1 / 1;

	@media (min-width: $breakpoint-md) {
		min-height: unset;
	}
}

.np-promo-code__placeholder-image {
	color: var(--wp--preset--color--olive);
}

.np-promo-code__content {
	flex: 2;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
    padding-block: var(--wp--preset--spacing--liquid-large);
    padding-inline: var(--wp--preset--spacing--liquid-large);
	gap: 20px;
	text-align: center;

	@media (min-width: $breakpoint-md) {
        padding-block: var(--wp--preset--spacing--60);
        padding-inline: var(--wp--preset--spacing--60);
	}
}

.np-promo-code__badge {
    display: flex;
    align-items: center;
    justify-content: center;
	min-width: 100px;
    min-height: 100px;
    aspect-ratio: 1 / 1;
    rotate: 5deg;
    padding: 10px;
	border-radius: 50%;
    background-color: var(--wp--preset--color--neutral);
    color: var(--wp--preset--color--secondary);
    font-weight: 900;
    font-size: var(--wp--preset--font-size--large);
    font-family: var(--wp--preset--font-family--fraunces);
}

.np-promo-code__title {
    font-size: var(--wp--preset--font-size--liquid-x-large);
    font-weight: var(--wp--custom--font-weight--medium);  
	margin: 0;
    line-height: 1;
	letter-spacing: -0.02em;
    color: var(--wp--preset--color--secondary);
}

.np-promo-code__subtitle {
	line-height: var(--wp--custom--line-height--body);
	margin: 0;
}

.np-promo-code__separator {
	width: var(--wp--preset--spacing--liquid-large);
	max-width: 3.75rem;
	height: 1px;
	border: none;
	margin: 0;
	background-color: $np-gray-light;
}

.np-promo-code__box {
	display: flex;
    align-items: center;
    gap: var(--wp--preset--spacing--liquid-small);
    padding-block: var(--wp--preset--spacing--40);
    padding-inline: var(--wp--preset--spacing--liquid-large);
    border: 1px solid #405c4d;
    background: transparent;
    border-radius: 5px;

	&-label {
		font-family: var(--wp--preset--font-family--nunito-sans);
        font-size: var(--wp--preset--font-size--small);
		color: var(--wp--preset--color--olive);
	}

	&-value {
		font-family: var(--wp--preset--font-family--nunito-sans);
		font-size: var(--wp--preset--font-size--courant);
		font-weight: var(--wp--custom--font-weight--bold);
		color: var(--wp--preset--color--secondary);
		letter-spacing: 0.125em;
	}
}

.np-promo-code__cta {
	display: inline-flex;
	align-items: center;
	gap: var(--wp--preset--spacing--liquid-small);
	background-color: var(--wp--preset--color--secondary);
	color: var(--wp--preset--color--base);
	font-size: var(--wp--preset--font-size--courant);
	font-weight: var(--wp--custom--font-weight--medium);
	border: none;
	border-radius: 30px;
	cursor: pointer;
	transition: background-color 0.2s ease;

	svg {
		width: 1rem;
		height: 1rem;
	}
}

.np-promo-code__mention {
	font-family: var(--wp--preset--font-family--nunito-sans);
	font-size: var(--wp--preset--font-size--liquid-small);
	color: var(--wp--preset--color--olive);
	max-width: min(25rem, 100%);
	margin: 0;
}
