// ==========================================================================
// Bandeau du haut (option thème Customizer)
// ==========================================================================

@use '../abstracts/variables' as *;

.np-top-banner {
  background-color: var(--wp--preset--color--custom-vert);
  // color: $np-white;
  padding: 0.5rem;
  text-align: center;
  font-size: $font-size-base;
  // font-weight: $font-weight-bold;
  font-weight: 700!important;

  &__text {
    margin: 0;
    max-width: var(--wp--style--global--wide-size, 1200px);
    margin-left: auto;
    margin-right: auto;
  }
}
