// ==========================================================================
// Bandeau du haut (option thème Customizer)
// ==========================================================================

@use '../abstracts/variables' as *;

.np-top-banner {
  background-color: var(--wp--preset--color--vert-flash);
  // color: var(--wp--preset--color--base);
  padding: 0.5rem;
  text-align: center;
  

  &__text {
    margin: 0;
    font-size: var(--wp--preset--font-size--x-small);
    font-weight: var(--wp--custom--font-weight--bold);
    max-width: var(--wp--style--global--wide-size, 1200px);
    margin-left: auto;
    margin-right: auto;
  }
}
