// ==========================================================================
// WooCommerce Products
// ==========================================================================

@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;


.single-product{
    .wp-block-column:nth-child(2) {
        position: sticky;
        top: 100px;
        height: fit-content;
    }
}

.wc-block-components-quantity-selector {
    border: none;
    gap: 10px;

    input {
        padding: 8px 2px;
        width: 50px !important;
        border: none;
    }

    .wc-block-components-quantity-selector__button {
        border: 1px solid $np-brown-light;
        background-color: $np-brown-light;
        color: $np-white;
        width: 40px;
        aspect-ratio: 1 / 1;
        border-radius: 100%;
    }
}

.add_to_cart_button {
    // font-size: 1.2rem;
    background-color: $np-teal;
}

@media (min-width: 600px) {

    .wc-block-product-template.is-flex-container.is-flex-container.columns-5>li {
        max-height: 500px;
    }
}

.wp-block-woocommerce-product-details{

    h3{
        position: relative;
        display: inline-flex;
        align-items: center;
        margin-bottom: 0;
        padding-left: 40px;
        width: 100%;

        &::before {
            content: '';
            left: -8px;
            position: absolute;
            width: 35px;
            height: 35px;
            background-color: $np-taupe;
            -webkit-mask: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiPjxjaXJjbGUgY3g9IjExIiBjeT0iNCIgcj0iMiIvPjxjaXJjbGUgY3g9IjE4IiBjeT0iOCIgcj0iMiIvPjxjaXJjbGUgY3g9IjIwIiBjeT0iMTYiIHI9IjIiLz48cGF0aCBkPSJNOSAxMGE1IDUgMCAwIDEgNSA1djMuNWEzLjUgMy41IDAgMCAxLTYuODQgMS4wNDVRNi41MiAxNy40OCA0LjQ2IDE2Ljg0QTMuNSAzLjUgMCAwIDEgNS41IDEwWiIvPjwvc3ZnPg==") center / contain no-repeat;
            mask: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiPjxjaXJjbGUgY3g9IjExIiBjeT0iNCIgcj0iMiIvPjxjaXJjbGUgY3g9IjE4IiBjeT0iOCIgcj0iMiIvPjxjaXJjbGUgY3g9IjIwIiBjeT0iMTYiIHI9IjIiLz48cGF0aCBkPSJNOSAxMGE1IDUgMCAwIDEgNSA1djMuNWEzLjUgMy41IDAgMCAxLTYuODQgMS4wNDVRNi41MiAxNy40OCA0LjQ2IDE2Ljg0QTMuNSAzLjUgMCAwIDEgNS41IDEwWiIvPjwvc3ZnPg==") center / contain no-repeat;
        }
    }

    .wp-block-accordion-panel{
        margin-top: 0!important;
    }
}

.wc-block-product {
    > div{
        height: 100%;

    }
}