<!-- wp:template-part {"slug":"header","theme":"naturapets","area":"header"} /-->

<!-- wp:group {"tagName":"section","metadata":{"name":"Hero banner archive","categories":["naturapets-woocommerce"],"patternName":"naturapets/woocommerce-hero-banner-archive-json"},"align":"full","className":"relative","style":{"spacing":{"margin":{"top":"0"},"padding":{"top":"0","bottom":"0","left":"0"}},"dimensions":{"minHeight":"100%"},"layout":{"selfStretch":"fill","flexSize":null}},"layout":{"type":"constrained","contentSize":"1000px","justifyContent":"center","wideSize":"100%"}} -->
<section class="wp-block-group alignfull relative"
	style="min-height:100%;margin-top:0;padding-top:0;padding-bottom:0;padding-left:0"><!-- wp:naturapets/page-featured-image {"className":"absolute alignfull","dimRatio":60} /-->

	<!-- wp:group {"className":"relative","style":{"dimensions":{"minHeight":"70vh"}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"stretch","verticalAlignment":"center"}} -->
	<div class="wp-block-group relative" style="min-height:70vh">
		<!-- wp:group {"className":"absolute","style":{"layout":{"selfStretch":"fixed","flexSize":"100%"},"dimensions":{"minHeight":""},"spacing":{"padding":{"left":"var:preset|spacing|x-large"}}},"layout":{"type":"constrained","contentSize":"60%","justifyContent":"left","wideSize":"100%"}} -->
		<div class="wp-block-group absolute" style="padding-left:var(--wp--preset--spacing--x-large)">
			<!-- wp:query-title {"type":"archive","showPrefix":false,"align":"full","style":{"typography":{"fontStyle":"normal","fontWeight":"300"},"elements":{"link":{"color":{"text":"var:preset|color|primary"}}}},"textColor":"primary","fontSize":"max-72"} /-->

			<!-- wp:group {"layout":{"type":"default"}} -->
			<div class="wp-block-group"><!-- wp:naturapets/page-description /--></div>
			<!-- /wp:group -->
		</div>
		<!-- /wp:group -->
	</div>
	<!-- /wp:group -->
</section>
<!-- /wp:group -->

<!-- wp:block {"ref":2364} /-->

<!-- wp:template-part {"slug":"footer","theme":"naturapets","area":"footer"} /-->